extends ../layout/base.pug

block header
    include ../sections/header.pug
block content
    include ../sections/contact-us/form.pug
    include ../sections/contact-us/location.pug
block footer
    include ../sections/footer.pug