extends ../layout/base.pug

block header
    include ../sections/header.pug

block content
    include ../sections/teams/about.pug
    include ../sections/teams/creative.pug
    include ../sections/choose-us.pug

block footer
    include ../sections/footer.pug