html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

ul[class],
ol[class]{
    list-style: none;
}

a[class]{
    text-decoration: none;
}

button:hover{
    cursor: pointer;
}

body{
    margin: 0;
    padding: 42px 0 129px;
    font-size: rem(18);
    font-family: 'Poppins-Regular';
    line-height: 1.6;
    font-weight: 400;
    background-color: $mainColorWhite;
    @media(max-width: 1200px){
        padding: 22px 0 65px;  
    }
    @media(max-width: 1050px){
        padding: 15px 0 170px;  
    }
    @media(max-width: 768px){
        padding: 10px 0 170px;  
    }
    @media(max-width: 450px){
        font-size: rem(15);  
    }
    @media(max-width: 450px){
        font-size: rem(14);  
    }
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}
h1{
    font-family: 'Poppins-Bold';
    font-size: rem(72);
    line-height: 1.4;
    font-weight: 700;
    color: $colorGrayscale50;
    @media(max-width: 1200px){
        font-size: rem(62); 
    }
    @media(max-width: 1050px){
        font-size: rem(52); 
    }
    @media(max-width: 768px){
        font-size: rem(42); 
    }
}
h2{
    font-family: 'Poppins-Medium';
    font-weight: 500;
    font-size: rem(16);
    line-height: 1.5;
    text-transform: uppercase;
    color: $colorGrayscaleBlack;
}
.subtitle{
    font-family: 'Poppins-SemiBold';
    font-size: rem(36);
    line-height: 1.7;
    font-weight: 600;
    @media(max-width: 1200px){
        font-size: rem(30);
        line-height: 1.5;
    }
}