.button{
    display: inline-block;
    font-family: 'Poppins-Medium', sans-serif;
    font-size: rem(14);
    line-height: 1.5;
    font-weight: 500;
    padding: 1em 2.2857142857142856em;
    text-wrap: nowrap;
    @media(max-width: 400px){
        font-size: rem(20);
    }
}