.subtitle{
    font-family: 'Poppins-SemiBold';
    font-size: rem(36);
    font-weight: 600;
    line-height: 1.7;
    color: $colorGrayscale50;
    @media(max-width: 1200px){
        font-size: rem(26);
    }
}