include ../layout/button.pug
section.material
    .container
        .material__inner
            h2.material__title.title MATERIAL
            p.material__subtitle.subtitle Choice of materials for quality furniture.
            p.material__text You can custom the material as desired. And our furniture uses the best materials and selected quality materials.
            +button('See Materials', '#FFFFFF', '#333333')
            .material__images
                img(src="images/material-1.webp", alt="material image").material__image
                img(src="images/material-2.webp", alt="material image").material__image
                img(src="images/material-3.webp", alt="material image").material__image

