section.product
    .container
        .product__inner
            h2.product__title.title PRODUCT
            p.product__subtitle.subtitle Choose your product themes.
            p.product__text Find the theme you want. If our choice of theme is not what you want, you can customize it as you want.
            ul.product__list
                li.product__list-item
                    a.product__list-link(href="#!") Vintage
                li.product__list-item
                    a.product__list-link(href="#!") Minimalist
                li.product__list-item
                    a.product__list-link(href="#!") Modern
                li.product__list-item
                    a.product__list-link(href="#!") Transitional