section.service
    .container
        .service__inner
            h2.service__title.title SERVICE
            p.service__subtitle.subtitle Attractive furniture with the best quality.
            p.service__text Customize your interior design into a dream place with the best designers and quality furniture. We try our best to fulfill your expectations.
            .service__content
                ol.service__list
                    li.service__list-item
                        a.service__list-link(href="#!") Interior Design
                    li.service__list-item
                        a.service__list-link(href="#!") Consultant
                    li.service__list-item
                        a.service__list-link(href="#!") Construction Consultant
                picture.service__image
                    source(media="(min-width: 1440px)", srcset="")
                    source(media="(min-width: 1200px)", srcset="")
                    source(media="(min-width: 768px)", srcset="")
                    img(src="images/service.jpg", alt="service image")