section.about-us-page-about-achevement
    .container
        .about-us-page-about-achevement__inner
            h2.about-us-page-about-achevement__title.h2 ACHIEVEMENT
            p.about-us-page-about-achevement__subtitle.subtitle Interior customization with Danaanz, best quality with professional workers
            picture.about-us-page-about-achevement__image
                source(media="(min-width: 1440px)", srcset="")
                source(media="(min-width: 1200px)", srcset="")
                source(media="(min-width: 768px)", srcset="")
                img(src="images/about-page-achevement.jpg", alt="achevement")
            include ../../layout/achievements.pug