.achievements
    ul.achievements__list
        li.achievements__list-item
            span 350+
            span Project Completed
        li.achievements__list-item
            span 23+
            span Professional Teams
        li.achievements__list-item
            span 15+
            span Years Experience