include button.pug
.patch-contact
    .container
        .patch-contact__inner
            p.patch-contact__text Let's discuss making your interior like a dream place!
            .patch-contact__block
                p.patch-contact__block-text Contact us below to work together to build your amazing interior
                +button('Contact Us', '#FFFFFF', '#333333')
